<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutoationExercise" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="utils.RetryListener"></listener>
        <listener class-name="utils.TestListener"></listener>
    </listeners>
    
    <test name="SanityAndRegressionTests">
        <!-- gruplardan ibaret testlerimi ise salmaq ucun-->
        <groups>
            <run>
                <include name="sanity"></include>
                <include name="regression"></include>
                <exclude name="skipped"></exclude>
            </run>
        </groups>

        <!-- class lardan ibaret testlerimi ise salmaq ucun-->
        <classes>
            <class name="tests.ui.automationExercise.integration.LoginTest">
                <methods>
                    <include name="loginTest"></include>
                </methods>
            </class>
            <class name="tests.ui.automationExercise.integration.CartTest">
                <methods>
                    <include name="emptyCart"></include>
                </methods>
            </class>
            <class name="utils.setup.GroupTestSetup"></class>
        </classes>
    </test>

    <!--    CHROME TEST-->
    <test name="CrossBrowserTestChrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="tests.ui.automationExercise.integration.LoginTest" />
        </classes>
    </test>
    <!--FIREFOX TEST-->
    <test name="CrossBrowserTestFirefox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="tests.ui.automationExercise.integration.AddProductToCartTest" />
        </classes>
    </test>
</suite>